:root {
  --hover: rgba(0, 255, 0, 0.1);
}

aside {
  background-color: var(--bgColor1);
  color: var(--textColor);
  padding: 2rem;
}

aside img {
  width: 30px;
}

aside .button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

aside .button-container div {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: .3rem;
  border-radius: 5px;
}

aside .button-container div:hover {
  background-color: var(--hover);
}

aside h2 {
  margin-bottom: 1rem;
}

aside .project-container {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

aside .project-name {
  flex: 1;
}

aside .project-container .project {
  display: flex;
  gap: 1rem;
  height: 2.4rem;
  align-items: center;
  padding: 0.4rem;
  border-radius: 3px;
  padding-left: .5rem;
}

aside .project-container .project .project-name{
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

aside .project-container .project:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.active {
  background-color: rgba(0, 255, 0, 0.2);
  border-left: rgba(0, 255, 0) solid 5px;
}

aside .add-project {
  display: flex;
  width: 100%;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  color: var(--textColor);
  opacity: .7;
  font-size: 1.1rem;
  background-color: transparent;
  border: 0;
  padding: .5rem 1.5rem;
  border-radius: 5px;
}

aside .add-project:hover {
  background-color: var(--hover);
}

.project .hover {
  display: none;
}

.project:hover .hover {
  display: block;
}

.project .project-btn {
  display: flex;
}

/* form */

aside .add-project-form {
  border: grey 2px ridge;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: .3rem;
}

aside .add-project-form input {
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 5px;
  padding: .2rem;
  font-size: 1.2rem;
  border: grey 1px solid;
  margin-bottom: .5rem;
}

aside .add-project-form input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

aside .add-project-form input:focus {
  outline: none;
}

aside .add-project-form button {
  width: 47.8%;
  height: 1.8rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--textColor);
}

aside .add-project-form .cancel {
  background-color: rgba(190, 0, 0, 0.8);
}

aside .add-project-form .submit {
  background-color: rgba(1, 198, 1, 0.8);
}

aside .add-project-form .cancel:hover {
  background-color: rgba(190, 0, 0, 1);
}

aside .add-project-form .submit:hover {
  background-color: rgba(1, 198, 1, 1);
}

/* rename form */

.project {
  position: relative;
  display: inline-block;
}

.drop-up .rename-form {
  display: none;
  position: absolute;
  padding: .2rem;
  bottom: 35px;
  right: -5rem;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-up .show {
  display: block;
}

.rename-form input {
  width: 100%;
  font-size: 1rem;
}

.rename-form .btn-container{
  width: 100%;
}

.rename-form .btn-container button {
  width: 47.5%;
  border: none;
  color: white;
  cursor: pointer;
}

.rename-form .btn-container .cancel {
  background-color: rgba(190, 0, 0, 0.8);
}

.rename-form .btn-container .submit {
  background-color: rgba(1, 198, 1, 0.8);
}

.rename-form .btn-container .cancel:hover {
  background-color: rgba(190, 0, 0, 1);
}

.rename-form .btn-container .submit:hover {
  background-color: rgba(1, 198, 1, 1);
}