main {
  background-color: var(--bgColor2);
  color: var(--textColor);
  padding: 2rem 4rem;
}

main h1 {
  background-color: var(--accentDark);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

main .task {
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1.2rem;
}

main .task .task-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .task .task-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .task .task-buttons .due-date {
  border: 1px white solid;
  padding: .2rem;
  border-radius: 5px;
}

main .task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .due-date {
  font-size: 1rem;
}

main .add-task {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  cursor: pointer;
  color: var(--textColor);
  opacity: .7;
  font-size: 1.2rem;
  background-color: transparent;
  border: 0;
  padding: .5rem;
  border-radius: 5px;
}

main .add-task:hover {
  background-color: var(--hover);
}

/* Add Task Form */

main .add-task-form {
  border: rgba(128, 128, 128, 0.5) solid 1px;
  border-radius: 5px;
  padding: .5rem;
}

main .task-name,
.task-details {
  border: none;
  background-color: transparent;
  color: var(--textColor);
}

input:focus,
select:focus,
.task-details:focus {
  outline: none;
}

main .add-task-form .priority {
  padding: 1px;
}

main .add-task-form .task-name {
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}

main .add-task-form .task-details {
  width: 100%;
}

main .add-task-form .task-about {
  padding-bottom: .5rem;
}

.add-task-form .task-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding-right: 1rem;
}

main .add-task-form .task-buttons button {
  width: 6rem;
  height: 1.8rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3px;
  color: var(--textColor);
}

.task-edit-dialog .button-container .cancel,
main .add-task-form .cancel {
  background-color: rgba(190, 0, 0, 0.8);
}

.task-edit-dialog .button-container .submit,
main .add-task-form .submit {
  background-color: rgba(1, 198, 1, 0.8);
}

.task-edit-dialog .button-container .cancel:hover,
main .add-task-form .cancel:hover {
  background-color: rgba(190, 0, 0, 1);
}

.task-edit-dialog .button-container .submit:hover,
main .add-task-form .submit:hover {
  background-color: rgba(1, 198, 1, 1);
}

.done-task {
  opacity: .5;
  text-decoration: line-through;
}

/* styling input[checkbox] */

.custom-checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkMark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #ccc;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}

.custom-checkbox input[type="checkbox"]:checked+.checkMark {
  background-color: #3df321;
  border-color: #40f324;
}

.custom-checkbox .checkMark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked+.checkMark::after {
  display: block;
}

.custom-checkbox .checkMark::after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* task priority colors */

.red {
  border: red solid 1px;
  background-color: rgba(255, 0, 0, 0.1);
  border-left: red solid 1rem;
}

.green {
  border: green solid 1px;
  background-color: rgba(0, 128, 0, 0.1);
  border-left: green solid 1rem;
}

.yellow {
  border: yellow solid 1px;
  background-color: rgba(255, 255, 0, 0.1);
  border-left: yellow solid 1rem;
}

.white {
  border: white solid 1px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: white solid 1rem;
}

/* .task-details-dialog box */

dialog {
  position: fixed;
  top: 35%;
  left: 35%;
  border: none;
  color: white;
  background-color: var(--bgColor2);
  padding: 10px;
  z-index: 1000;
  border-radius: 4px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

dialog {
  animation: fade-out 0.7s ease-out;
}

dialog[open] {
  animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}

dialog .dialog-heading {
  display: flex;
  justify-content: space-between;
}

dialog .dialog-heading button {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: var(--bgColor2);
  cursor: pointer;
  color: white;
}

dialog .dialog-heading button:hover {
  background-color: #cccccc15;
}

/* .task-edit-dialog */

.task-edit-dialog .button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.task-edit-dialog .button-container button {
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  height: 1.5rem;
  width: 4rem;
  font-weight: bold;
}

.edit-details-label {
  display: flex;
  align-items: center;
}

.edit-details-label textarea {
  margin-left: 10px;
  height: 4rem;
  flex-grow: 1;
}

.edit-task .edit-task-name{
  width: 86%;
}